{% load static %}
{% load staticfiles %}

<head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: white;
            font-family: 'Nanum Gothic', sans-serif;
        }

        #content {
            height: 250px;
            background-color: rgb(253, 64, 121);
        }

        #logo {
            margin-top: 20px;
            width: 200px;
            height: 50px;
            margin-left: 200px;
        }

        #topphoto {
            width: 450px;
            height: 250px;
        }

        #detail {
            width: 400px;
            height: 400px;
            margin-left: 30%;
        }
    </style>
</head>

<body>
    <!--상단-->
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="col-xs-2">
                <a href="{% url 'home' %}"><img src="{% static "알고쓰자.png" %}" id="logo">
            </div>
            <div class="col-xs-4">
                <a href="{% url 'home' %}"><img src="{% static "생리대1.png" %}" id="topphoto"></a>
            </div>
            <div class="col-xs-6" style="text-align: left">
                <h2 style="margin-top: 10%; color: white;">분석</h2>
                <p style="color: white;">생리대의 주요성분과 상세설명 등 자세한 정보를 확인하세요.</p>
                <br>
                <br>
                <br>
                <div style="text-align: right;" id="login">
                    {%if user.is_active%}
                    <b>
                        <p style="color: white;">{{user.username}}님 반갑습니다.
                            <a href="{% url 'logout'%}">logout</a></p>
                    </b>
                    {%else%}
                    <a href="{% url 'accounts:signup'%}" style="color: white;"> <b>signup</b></a>
                    <a href="{% url 'login'%}" style="color: white;"><b>Login</b></a>
                    {%endif%}
                </div>
            </div>
        </div>
        <!--아래내용-->
        <div>
            <br>
            <div class="container">
                <!--base까지-->
                <div class="row">

                    <div class="col-xs-4">
                        <img src="http://www.ykbrand.co.kr/data/Real/20181101015057_b410e06e96214e968d9fba9fc3fad5ba.png"
                            id="detail">
                    </div>
                    <div class="col-xs-8" style="text-align: left; padding-left: 20%; margin-top: 10%">
                        <h3><b>{{post.brand}}</b></h3>
                        <hr>
                        <h2><b>{{post.title}}</b></h2>
                    </div>
                </div>
                <h3><b>상세설명</b></h3>
                <hr>
                <p>{{post.text}}</p>
                <br>
                <h3><b>성분분석</b></h3>
                <hr>
                <p>{{post.component}}</p>
                <br>
                <div style="text-align: right">
                    <a href="{% url 'edit' post.id %}">수정</a>
                    <a href="{% url 'delete' post.id %}">삭제</a>
                </div>
                <h3><b>고객후기</b></h3>
                <hr>
                <div class="panel-footer" style="text-align: center">
                    <hr>
                    {% for comment in post.comments.all %}
                    <div class="row">
                        <div class="col-9" style="text-align:left">
                            <strong>{{user.username}}</strong>
                            {{comment.text|linebreaks}}</div>
                        <div class="col-3"><a href="{% url 'delete_comment' comment_id=comment.id %}">댓글삭제</a></div>
                    </div>
                    {%empty%}
                    <p>댓글이 없습니다.</p>
                    {%endfor%}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-9">
                                <form method="POST" action="{% url 'add_comment' post.id%}">
                                    {% csrf_token %}
                                    {{form.as_table}}
                            </div>
                            <div class="col-3">
                                <button type="submit" class="save btn btn-default">작성</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>